<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Footer</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		/>
		<style>
			.footer {
				background-color: #dce5d9;
				color: #000000;
				padding: 20px 0;
				text-align: center;
			}

			.footer p {
				margin: 0; /* Remove default margin */
			}

			.common-links {
				margin-top: 10px;
			}

			.common-links a {
				color: #000000;
				text-decoration: none;
				margin: 0 10px;
			}

			.common-links a:hover {
				text-decoration: underline;
			}

			.social-icons {
				margin-top: 10px; /* Add some spacing between links and icons */
			}

			.social-icons a {
				color: #000000; /* Icon color */
				text-decoration: none; /* Remove underline */
				margin-right: 10px; /* Add spacing between icons */
			}

			.social-icons a:last-child {
				margin-right: 0; /* Remove margin for the last icon */
			}

			.social-icons a:hover {
				color: #1d3226; /* Change color on hover */
			}
		</style>
	</head>
	<body>
		<footer class="footer">
			<div class="common-links">
				<a href="#">About Us</a>
				<a href="#">Contact Us</a>
				<a href="#">Privacy Policy</a>
			</div>
			<div class="social-icons">
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
			</div>
			<p>&copy;Manikrishna, Sudheer Vobilisetty</p>
		</footer>
	</body>
</html>
